// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #f85751;
$orange: #ff9f3e;
$yellow: #ffed4a;
$green: #41bd28;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$brand-orange: #ff631c;
$brand-orange-light: #ff7839;
$brand-red: #FF2B65;
$dark: #383838;
$white: #fff;
$grey-dark: #7e7e7e;
$grey: #b1b1b1;
$grey-light: #dfdfdf;
$grey-soft: #f3f3f3;

$alert-bg-blue: #3490dc38;
$alert-bg-grey: #dfdfdf;
$alert-bg-green: #41bd2844;
$alert-bg-red: #f8575149;
