// Fonts
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700");

// Variables
@import 'variables';

// CSS
@import url('../css/drop-down-menu.css');

body {
    color: $dark;
    background-color: #f2f4f5;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: $font-family-sans-serif;
}

.site-logo {
    z-index: 1500;
    position: fixed;
    top: 10px;
    left: 21px;

    .icon {
        width: 50px;
    }

    .name {
        width: 200px;
        margin-left: 5px;
        position: relative;
        top: 2px;
    }

    @media screen and (max-width: 1200px) {
        display: none;
    }
}

.site-logo-mobile {
    z-index: 1500;
    position: relative;
    bottom: 9px;

    .icon {
        width: 45px;
    }
    
    .name {
        width: 180px;
        margin-left: 3px;
        position: relative;
        top: 3px;

        @media screen and (max-width: 520px) {
            display: none;
        }
    }

    @media screen and (max-width: 520px) {
        right: 8px;
    }
}

#site-content {
    margin-top: 80px;
    min-height: calc(100vh - 138px);

    @media screen and (max-width: 1200px) {
        margin-top: 12px;
    }

    @media screen and (min-width: 1600px) {
        width: 1500px;
    }
}

.content-box {
    border-radius: 0;
    padding: 10px 12px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.1);

    .card-body {
        padding: 0;
    }

    @media screen and (max-width: 767px) {
        margin-top: 12px;
    }
}

.footer {
    padding: 15px 25px 20px;
    background-color: $dark;
    color: $gray;
}