// Fonts
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700");

// Variables
@import 'variables';

// CSS
@import url('../css/drop-down-menu.css');


body {
    color: $dark;
    background-color: #f2f4f5;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: $font-family-sans-serif;
}

a:hover {
    text-decoration: none;
}

input {
    background-color: $white;
}


.site-logo {
    z-index: 1500;
    position: fixed;
    top: 10px;
    left: 21px;

    img {
        width: 185px;
    }

    @media screen and (max-width: 1200px) {
        display: none;
    }
}

.site-logo-mobile {
    z-index: 1500;
    position: relative;
    bottom: 9px;

    .full {
        width: 180px;
        bottom: 1px;

        @media screen and (max-width: 520px) {
            display: none;
        }
    }
    
    .icon {
        width: 51px;
        position: relative;
        bottom: 1px;

        @media screen and (min-width: 519px) {
            display: none;
        }
    }

    @media screen and (max-width: 520px) {
        right: 8px;
    }
}


.site-search {
    z-index: 1500;
    position: fixed;
    top: 12px;
    right: 28px;

    .search-field {
        height: 45px;
        width: 200px;
        border-radius: 12px;
        border-style: none;
        border: 1px solid $gray-light;
        padding-left: 36px;
        font-size: 16px;
        color: $dark;

        @media screen and (max-width: 520px) {
            width: 180px;
        }
    }
    
    i {
        position: relative;
        top: 3px;
        left: 35px;
        font-size: 21px;
    }

    @media screen and (max-width: 1199px) {
        position: absolute;
        top: 9px;
        right: 55px;
    }
}


#site-content {
    margin-top: 80px;
    min-height: calc(100vh - 138px);

    @media screen and (max-width: 1200px) {
        margin-top: 12px;
    }

    @media screen and (min-width: 1600px) {
        width: 1500px;
    }
}


.btn {
    border-radius: 0;
    font-weight: 500;
    margin: 5px 3px;

    &.md {
        padding: 12px 21px;
        font-size: 19px;
    }

    &.lg {
        padding: 15px 25px;
        font-size: 21px;
    }

    &.btn-main {
        color: $white;
        background-color: $brand-orange-light;
        border-color: $brand-orange-light;

        &:hover {
            background-color: $dark;
            border-color: $dark;
        }
    }

    &.btn-add {
        color: $white;
        background-color: $brand-red;
        border-color: $brand-red;

        &:hover {
            background-color: $dark;
            border-color: $dark;
        }
    }

    &.btn-def {
        color: $dark;
        background-color: $gray-light;
        border-color: $gray-light;

        &:hover {
            color: $white;
            background-color: $brand-red;
            border-color: $brand-red;
        }
    }
}


.content-box {
    border-radius: 0;
    padding: 10px 12px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.15);
    border: 1px solid $gray-light;
    background-color: $white;

    .card-body {
        padding: 0;
    }

    .box-header {
        line-height: 40px;
        background-color: $gray-soft;
        padding-left: 15px;
        font-size: 19px;
        font-weight: 500;
        text-transform: uppercase;
        border-left: 5px solid $brand-orange;
        margin-bottom: 10px;
    }

    p {
        margin-top: 15px;
        font-weight: 300;
        font-size: 18px;

        a {
            color: $brand-orange;
            font-weight: 400;
    
            &:hover {
                color: $brand-red;
            }
        }
    }

    @media screen and (max-width: 767px) {
        margin-top: 12px;
    }
}


.content-collection {
    margin-bottom: 25px;

    .card {
        padding: 0;
        max-width: 320px;
        border: none;
        margin-top: 15px;

        .card-img-top {
            margin-bottom: 15px;
        }

        .card-title a {
            color: $dark;

            &:hover {
                color: $brand-red;
            }
        }

        .card-info {
            div {
                margin-bottom: 3px;
            }
            .statistics div {
                margin-left: 10px;
                color: $gray-dark;
            }
            .date {
                color: $gray;
            }
            .tags {
                color: $brand-red;
                i {
                    font-size: 16px;
                    position: relative;
                    top: 4px;
                    margin-right: 5px;
                }
                .tag {
                    margin-right: 5px;
                }
            }
            a {
                color: $brand-red;
                font-weight: 300;

                &:hover {
                    color: $dark;
                }
            }
        }

        .card-text {
            margin-top: 5px;
            font-size: 17px;
        }
    }
}


.pagination {
    margin: 15px 0;

    .page-link {
        padding: 14px 20px 10px;
        font-size: 18px;
        font-weight: 600;
        border-color: $gray-light;
        color: $gray-dark;

        &.active {
            background-color: $brand-orange-light;
            border-color: $brand-orange-light;
            color: $white;
            &:hover {
                background-color: $brand-orange-light;
                border-color: $brand-orange-light;
            }
        }

        &.inactive, &.inactive:hover {
            background-color: $gray-soft;
            border-color: $gray-light;
            color: $gray-light;
            cursor: not-allowed;
        }

        &:hover {
            background-color: $gray;
            border-color: $gray;
            color: $white;
        }
    }
}


.vertical-menu {

    ul {
        width: 100%;
    }

    .nav-item {
        cursor: pointer;
    }

    .nav-link {

        &.marker-blue {
            border-left: 5px solid $blue !important;
        }

        &.flat {
            border-left: 1px solid $gray-light;
            border-right: 1px solid $gray-light;
            border-bottom: 1px solid $gray-light;
            color: $brand-orange;
        
            &:hover {
                color: $brand-red;
            }
        }

        &[data-toggle] {
            border: 1px solid $gray-light;

            &.inner {
                border-top: none;
            }

            .icon {
                position: relative;
                top: 3px;
                right: 0;
                font-size: 21px;
                color: $dark;
            }
        
            &.collapsed {
                .open {
                    display: inline;
                }
                .closed {
                    display: none;
                }
            }
            &:not(.collapsed) {
                .open {
                    display: none;
                }
                .closed {
                    display: inline;
                }
            }
        }
    }
}


.footer {
    padding: 15px 25px 20px;
    background-color: $dark;
    color: $gray;
}