// Fonts
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700");

// Variables
@import 'variables';

// CSS
@import url('../css/drop-down-menu.css');


@mixin all-transition($duration, $type: linear) {
    transition: all $duration $type;
}
@mixin base-link-style {
    a {
        color: $brand-orange;
        font-weight: 400;

        &:hover {
            color: $brand-red;
        }
    }
}


body {
    color: $dark;
    background-color: #f2f4f5;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: $font-family-sans-serif;
}

a:hover {
    text-decoration: none;
}

b {
    font-weight: 500;
}

i {
    font-weight: 200;
}


.text-grey {
    color: $grey-dark !important;
}
.text-green {
    color: $green !important;
}
.text-red {
    color: $red !important;
}
.text-blue {
    color: $blue !important;
}
small {
    font-size: 13px;
}
input {
    background-color: $white !important;
    color: $dark !important;
    font-weight: 300 !important;

    &[type="text"], 
    &[type="password"],
    &[type="email"] {
        border-radius: 0;
        border: 1px solid $grey-light;
        padding: 0 10px;
        min-height: 42px;
    }
    &:read-only {
        background-color: $grey-light !important;
        cursor: not-allowed;
    }
}
select {
    border: 1px solid $grey-light !important;
    height: 42px !important;
    color: $dark !important;
    font-weight: 300 !important;
    cursor: pointer;
}
textarea {
    background-color: $white !important;
    border: 1px solid $grey-light !important;
    color: $dark !important;
    font-weight: 300 !important;
    border-radius: 0 !important;
    min-height: 80px;
}
.custom-control-input:checked ~ .custom-control-label::before {
    border-color: $brand-red;
    background-color: $brand-red;
    transition: none;
}
.custom-checkbox {
    .custom-control-label::before {
        border-radius: 0;
    }
}


code[class*="language-"],
pre[class*="language-"] {
    background-color: $grey-soft;
    margin: 15px 0;
}


.alert {

    .alert-link {
        font-weight: 600;
    }
    .close {
        color: $grey-dark;
        font-weight: 500;
    }

    &.alert-primary {
        background-color: $alert-bg-blue;
    }
    &.alert-secondary {
        background-color: $alert-bg-grey;
    }
    &.alert-success {
        background-color: $alert-bg-green;
    }
    &.alert-danger {
        background-color: $alert-bg-red;
    }
}


.breadcrumb {
    border-radius: 0;
    background-color: $grey-soft;

    li {
        color: $grey-dark !important;
    }

    @include base-link-style;

    .home-icon {
        font-size: 18px;
        color: $grey-dark;
        position: relative;
        top: 2px;
        margin-right: 8px;
    }
}


.site-logo {
    z-index: 1500;
    position: fixed;
    top: 10px;
    left: 21px;

    img {
        width: 185px;
    }

    @media screen and (max-width: 1200px) {
        display: none;
    }
}

.site-logo-mobile {
    z-index: 1500;
    position: relative;
    bottom: 9px;

    .full {
        width: 180px;
        bottom: 1px;

        @media screen and (max-width: 520px) {
            display: none;
        }
    }
    
    .icon {
        width: 51px;
        position: relative;
        bottom: 1px;

        @media screen and (min-width: 519px) {
            display: none;
        }
    }

    @media screen and (max-width: 520px) {
        right: 8px;
    }
}


.site-search {
    z-index: 1500;
    position: fixed;
    top: 12px;
    right: 28px;

    .search-field {
        height: 45px;
        width: 200px;
        border-radius: 12px;
        border-style: none;
        border: 1px solid $grey-light;
        padding-left: 36px;
        font-size: 16px;
        color: $dark;

        @media screen and (max-width: 520px) {
            width: 180px;
        }
    }
    
    i {
        position: relative;
        top: 3px;
        left: 35px;
        font-size: 21px;
    }

    @media screen and (max-width: 1199px) {
        position: absolute;
        top: 9px;
        right: 55px;
    }
}


#site-content {
    margin-top: 80px;
    min-height: calc(100vh - 138px);

    @media screen and (max-width: 1200px) {
        margin-top: 12px;
    }

    @media screen and (min-width: 1600px) {
        width: 1500px;
    }
}


.btn {
    border-radius: 0;
    font-weight: 500;
    margin: 5px 3px;

    .spinner-border-sm {
        position: relative;
        bottom: 2px;
    }

    .spinner-border-md {
        width: 1.5rem;
        height: 1.5rem;
        border-width: 0.25em;
        margin-right: 5px;
    }

    .spinner-border-lg {
        margin-right: 9px;
    }

    &.md {
        padding: 10px 19px;
        font-size: 19px;
    }

    &.lg {
        padding: 13px 22px;
        font-size: 21px;
    }

    &.btn-main {
        color: $white;
        background-color: $brand-orange-light;
        border-color: $brand-orange-light;

        &:hover {
            background-color: $dark;
            border-color: $dark;
        }
    }

    &.btn-add {
        color: $white;
        background-color: $brand-red;
        border-color: $brand-red;

        &:hover {
            background-color: $dark;
            border-color: $dark;
        }
    }

    &.btn-def {
        color: $dark;
        background-color: $grey-light;
        border-color: $grey-light;

        &:hover {
            color: $white;
            background-color: $brand-red;
            border-color: $brand-red;
        }
    }

    &.btn-slider {
        position: absolute;
        color: $dark;
        background-color: $grey-light;
        border-color: $grey-light;

        &:hover {
            color: $white;
            background-color: $brand-red;
            border-color: $brand-red;
        }

        &.left {
            top: -54px;
            right: 22px;
        }

        &.right {
            top: -54px;
            right: -17px;
        }
    }
}


.content-box {
    border-radius: 0;
    padding: 10px 12px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.15);
    border: 1px solid $grey-light;
    background-color: $white;

    .card-body {
        padding: 0;
    }

    .box-header {
        line-height: 40px;
        background-color: $grey-soft;
        padding-left: 15px;
        font-size: 19px;
        font-weight: 500;
        text-transform: uppercase;
        border-left: 5px solid $brand-orange;
        margin-bottom: 10px;
    }

    p {
        margin-top: 15px;
        font-weight: 300;
        font-size: 18px;

        @include base-link-style;
    }

    .helper-box {
        position: relative;
        border: 1px solid $grey;
        border-left: 5px solid;
        padding: 15px;
        padding-left: 55px;
        margin: 15px 0;

        &.danger {
            border-left-color: $red;

            &.color-border {
                border-color: $red;
            }
            .box-icon {
                color: $red;
            }
        }
        &.info {
            border-left-color: $cyan;

            &.color-border {
                border-color: $cyan;
            }
            .box-icon {
                color: $cyan;
            }
        }
        &.warning {
            border-left-color: $orange;

            &.color-border {
                border-color: $orange;
            }
            .box-icon {
                color: $orange;
            }
        }

        p {
            margin: 0;
        }

        .box-icon {
            position: absolute;
            top: 18px;
            left: 13px;
            font-size: 30px;
        }
    }

    @media screen and (max-width: 767px) {
        margin-top: 12px;
    }
}


.card-collection {
    margin-bottom: 45px;
    padding: 0 15px;

    .card {
        padding: 0 8px;
        border: none;
        margin-top: 15px;
        margin-bottom: 10px;

        .card-img-top {
            margin-bottom: 15px;
        }

        .card-title a {
            color: $dark;

            &:hover {
                color: $brand-red;
            }
        }

        .card-info {
            div {
                margin-bottom: 3px;
            }
            .statistics div {
                margin-left: 10px;
                color: $grey-dark;
            }
            .date {
                color: $grey;
            }
            .tags {
                color: $brand-red;
                i {
                    font-size: 16px;
                    position: relative;
                    top: 4px;
                    margin-right: 5px;
                }
                .tag {
                    margin-right: 5px;
                }
            }
            a {
                color: $brand-red;
                font-weight: 300;

                &:hover {
                    color: $dark;
                }
            }
        }

        .card-text {
            margin-top: 5px;
            font-size: 17px;
        }
    }
}


.pagination {
    margin: 15px 0;

    .page-link {
        padding: 14px 20px 10px;
        font-size: 18px;
        font-weight: 600;
        border-color: $grey-light;
        color: $grey-dark;

        &.active {
            background-color: $brand-orange-light;
            border-color: $brand-orange-light;
            color: $white;
            &:hover {
                background-color: $brand-orange-light;
                border-color: $brand-orange-light;
            }
        }

        &.inactive, &.inactive:hover {
            background-color: $grey-soft;
            border-color: $grey-light;
            color: $grey-light;
            cursor: not-allowed;
        }

        &:hover {
            background-color: $grey;
            border-color: $grey;
            color: $white;
        }
    }
}


.vertical-menu {
    margin-bottom: 15px;

    ul {
        width: 100%;
    }

    .nav-item {
        cursor: pointer;
    }

    .nav-link {

        &.marker-blue {
            border-left: 5px solid $blue !important;
        }
        &.marker-purple {
            border-left: 5px solid $purple !important;
        }
        &.marker-red {
            border-left: 5px solid $red !important;
        }
        &.marker-orange {
            border-left: 5px solid $orange !important;
        }
        &.marker-yellow {
            border-left: 5px solid $yellow !important;
        }
        &.marker-green {
            border-left: 5px solid $green !important;
        }
        &.marker-pink {
            border-left: 5px solid $pink !important;
        }

        &.flat {
            border-left: 1px solid $grey-light;
            border-right: 1px solid $grey-light;
            border-bottom: 1px solid $grey-light;
            color: $brand-orange;
        
            &:hover {
                color: $brand-red;
            }
        }

        &[data-toggle] {
            border: 1px solid $grey-light;

            &.inner {
                border-top: none;
            }

            .icon {
                position: relative;
                top: 3px;
                right: 0;
                font-size: 21px;
                color: $dark;
            }
        
            &.collapsed {
                .open {
                    display: inline;
                }
                .closed {
                    display: none;
                }
            }
            &:not(.collapsed) {
                .open {
                    display: none;
                }
                .closed {
                    display: inline;
                }
            }
        }
    }
}


.tags-box {

    .tag {
        display: inline-block;
        background-color: $grey-soft;
        color: $grey-dark;
        font-size: 14px;
        padding: 4px 10px;
        margin-right: 5px;
        margin-bottom: 6px;

        &:hover {
            background-color: $brand-red;
            color: $white;
        }

        @include all-transition(.3s, ease-out);
    }
}


.footer {
    padding: 15px 25px 20px;
    background-color: $dark;
    color: $grey;
}