@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700);#drop-down-menu,
#drop-down-toggle-menu {
    background-color: #fff;
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.09);
    z-index: 1000;
}

#drop-down-toggle-menu {
    height: 63px;
}

#drop-down-menu,
#drop-down-menu li,
#drop-down-menu a {
    color: #343a40;
}

#drop-down-menu a:hover {
    color: #ff631c;
    text-decoration: none;
}

#drop-down-menu ul {
    margin: 0;
    padding: 0;
}

#drop-down-menu .main-menu {
    display: none;
}

.main-menu > li {
    text-transform: uppercase;
}

.sub-menu li {
    text-transform: none;
    line-height: 24px;
}

.drop-icon i {
    position: absolute;
    top: 28px;
    right: 14px;
}

.bars-icon {
    font-size: 20px;
}

a.parent {
    padding-right: 35px !important;
}

#tm:checked+.main-menu {
    display: block;
}

#drop-down-menu input[type="checkbox"],
#drop-down-menu ul span.drop-icon {
    display: none;
}

#drop-down-menu li,
#drop-down-toggle-menu,
#drop-down-menu .sub-menu {
    border-style: solid;
    border-color: #dfdfdf;
}

#drop-down-menu li,
#drop-down-toggle-menu {
    border-width: 0 0 1px;
}

#drop-down-menu .sub-menu {
    background-color: #fff;
    border-width: 1px 1px 0;
    margin: 0 1em;
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.18);
}

#drop-down-menu .sub-menu li:last-child {
    border-width: 0;
}

#drop-down-menu li,
#drop-down-toggle-menu,
#drop-down-menu a,
#drop-down-menu span.no-url {
    position: relative;
    display: block;
}

#drop-down-menu span.no-url {
    cursor: pointer;
}
#drop-down-menu span.no-url .el-text {
    margin-right: 15px;
}

#drop-down-toggle-menu,
#drop-down-menu a,
#drop-down-menu span.no-url {
    padding: 1em 1.5em;
}

#drop-down-toggle-menu {
    padding-right: 35px !important;
}

#drop-down-menu a,
#drop-down-menu span.no-url {
    transition: all .125s ease-in-out;
    -webkit-transition: all .125s ease-in-out;
}

#drop-down-menu .sub-menu {
    display: none;
}

#drop-down-menu input[type="checkbox"]:checked + .sub-menu {
    display: block;
}

#drop-down-toggle-menu .drop-icon i,
#drop-down-menu li label.drop-icon i {
    position: absolute;
    right: 20px;
    top: 21px;
}
#drop-down-menu li label.drop-icon i {
    top: 25px !important;
}

#drop-down-menu label.drop-icon,
#drop-down-toggle-menu span.drop-icon {
    width: 1em;
    height: 1em;
    text-align: center;
    color: #343a40;
}

#drop-down-menu .drop-icon {
    line-height: 1;
}


@media only screen and (max-width: 1199px) {

    
}


/* Wide Screens */

@media only screen and (min-width: 1200px) {

    #drop-down-menu {
        width: 100%;
        position: fixed;
        top: 0;
        padding-left: 255px;
        padding-right: 235px;
    }

    #drop-down-menu,
    #drop-down-toggle-menu {
        box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.18);
    }

    #drop-down-menu .main-menu {
        display: block;
    }

    #drop-down-toggle-menu,
    #drop-down-menu label.drop-icon {
        display: none;
    }

    #drop-down-menu ul span.drop-icon {
        display: inline-block;
    }

    #drop-down-menu li {
        float: left;
        border-width: 0 1px 0 0;
        height: 70px;
        line-height: 38px;
    }
    .sub-menu li {
        line-height: 25px !important;
        height: auto !important;
    }

    .main-menu > li:first-child {
        border-left-width: 1px !important;
    }

    #drop-down-menu .sub-menu li {
        float: none;
    }

    #drop-down-menu .sub-menu {
        border-width: 0;
        margin: 0;
        position: absolute;
        top: 100%;
        left: 0;
        width: 15em;
        z-index: 3000;
    }

    #drop-down-menu .sub-menu,
    #drop-down-menu input[type="checkbox"]:checked + .sub-menu {
        display: none;
    }

    #drop-down-menu .sub-menu li {
        border-width: 0 0 1px;
    }

    #drop-down-menu .sub-menu .sub-menu {
        top: 0;
        left: 100%;
    }

    #drop-down-menu li:hover>input[type="checkbox"] + .sub-menu {
        display: block;
    }
}body {
  color: #383838;
  background-color: #f2f4f5;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Poppins", sans-serif;
}

a:hover {
  text-decoration: none;
}

b {
  font-weight: 500;
}

i {
  font-weight: 200;
}

.text-grey {
  color: #7e7e7e !important;
}

.text-green {
  color: #41bd28 !important;
}

.text-red {
  color: #f85751 !important;
}

.text-blue {
  color: #3490dc !important;
}

small {
  font-size: 13px;
}

input {
  background-color: #fff !important;
  color: #383838 !important;
  font-weight: 300 !important;
}

input[type=text],
input[type=password],
input[type=email] {
  border-radius: 0;
  border: 1px solid #dfdfdf;
  padding: 0 10px;
  min-height: 42px;
}

input:-moz-read-only {
  background-color: #dfdfdf !important;
  cursor: not-allowed;
}

input:read-only {
  background-color: #dfdfdf !important;
  cursor: not-allowed;
}

select {
  border: 1px solid #dfdfdf !important;
  height: 42px !important;
  color: #383838 !important;
  font-weight: 300 !important;
  cursor: pointer;
}

textarea {
  background-color: #fff !important;
  border: 1px solid #dfdfdf !important;
  color: #383838 !important;
  font-weight: 300 !important;
  border-radius: 0 !important;
  min-height: 80px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #FF2B65;
  background-color: #FF2B65;
  transition: none;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
}

code[class*=language-],
pre[class*=language-] {
  background-color: #f3f3f3;
  margin: 15px 0;
}

.alert .alert-link {
  font-weight: 600;
}

.alert .close {
  color: #7e7e7e;
  font-weight: 500;
}

.alert.alert-primary {
  background-color: #3490dc38;
}

.alert.alert-secondary {
  background-color: #dfdfdf;
}

.alert.alert-success {
  background-color: #41bd2844;
}

.alert.alert-danger {
  background-color: #f8575149;
}

.breadcrumb {
  border-radius: 0;
  background-color: #f3f3f3;
}

.breadcrumb li {
  color: #7e7e7e !important;
}

.breadcrumb a {
  color: #ff631c;
  font-weight: 400;
}

.breadcrumb a:hover {
  color: #FF2B65;
}

.breadcrumb .home-icon {
  font-size: 18px;
  color: #7e7e7e;
  position: relative;
  top: 2px;
  margin-right: 8px;
}

.site-logo {
  z-index: 1500;
  position: fixed;
  top: 10px;
  left: 21px;
}

.site-logo img {
  width: 185px;
}

@media screen and (max-width: 1200px) {
  .site-logo {
    display: none;
  }
}

.site-logo-mobile {
  z-index: 1500;
  position: relative;
  bottom: 9px;
}

.site-logo-mobile .full {
  width: 180px;
  bottom: 1px;
}

@media screen and (max-width: 520px) {
  .site-logo-mobile .full {
    display: none;
  }
}

.site-logo-mobile .icon {
  width: 51px;
  position: relative;
  bottom: 1px;
}

@media screen and (min-width: 519px) {
  .site-logo-mobile .icon {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  .site-logo-mobile {
    right: 8px;
  }
}

.site-search {
  z-index: 1500;
  position: fixed;
  top: 12px;
  right: 28px;
}

.site-search .search-field {
  height: 45px;
  width: 200px;
  border-radius: 12px;
  border-style: none;
  border: 1px solid #dfdfdf;
  padding-left: 36px;
  font-size: 16px;
  color: #383838;
}

@media screen and (max-width: 520px) {
  .site-search .search-field {
    width: 180px;
  }
}

.site-search i {
  position: relative;
  top: 3px;
  left: 35px;
  font-size: 21px;
}

@media screen and (max-width: 1199px) {
  .site-search {
    position: absolute;
    top: 9px;
    right: 55px;
  }
}

#site-content {
  margin-top: 80px;
  min-height: calc(100vh - 138px);
}

@media screen and (max-width: 1200px) {
  #site-content {
    margin-top: 12px;
  }
}

@media screen and (min-width: 1600px) {
  #site-content {
    width: 1500px;
  }
}

.btn {
  border-radius: 0;
  font-weight: 500;
  margin: 5px 3px;
}

.btn .spinner-border-sm {
  position: relative;
  bottom: 2px;
}

.btn .spinner-border-md {
  width: 1.5rem;
  height: 1.5rem;
  border-width: 0.25em;
  margin-right: 5px;
}

.btn .spinner-border-lg {
  margin-right: 9px;
}

.btn.md {
  padding: 10px 19px;
  font-size: 19px;
}

.btn.lg {
  padding: 13px 22px;
  font-size: 21px;
}

.btn.btn-main {
  color: #fff;
  background-color: #ff7839;
  border-color: #ff7839;
}

.btn.btn-main:hover {
  background-color: #383838;
  border-color: #383838;
}

.btn.btn-add {
  color: #fff;
  background-color: #FF2B65;
  border-color: #FF2B65;
}

.btn.btn-add:hover {
  background-color: #383838;
  border-color: #383838;
}

.btn.btn-def {
  color: #383838;
  background-color: #dfdfdf;
  border-color: #dfdfdf;
}

.btn.btn-def:hover {
  color: #fff;
  background-color: #FF2B65;
  border-color: #FF2B65;
}

.content-box {
  border-radius: 0;
  padding: 10px 12px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.15);
  border: 1px solid #dfdfdf;
  background-color: #fff;
}

.content-box .card-body {
  padding: 0;
}

.content-box .box-header {
  line-height: 40px;
  background-color: #f3f3f3;
  padding-left: 15px;
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
  border-left: 5px solid #ff631c;
  margin-bottom: 10px;
}

.content-box p {
  margin-top: 15px;
  font-weight: 300;
  font-size: 18px;
}

.content-box p a {
  color: #ff631c;
  font-weight: 400;
}

.content-box p a:hover {
  color: #FF2B65;
}

.content-box .helper-box {
  position: relative;
  border: 1px solid #b1b1b1;
  border-left: 5px solid;
  padding: 15px;
  padding-left: 55px;
  margin: 15px 0;
}

.content-box .helper-box.danger {
  border-left-color: #f85751;
}

.content-box .helper-box.danger.color-border {
  border-color: #f85751;
}

.content-box .helper-box.danger .box-icon {
  color: #f85751;
}

.content-box .helper-box.info {
  border-left-color: #6cb2eb;
}

.content-box .helper-box.info.color-border {
  border-color: #6cb2eb;
}

.content-box .helper-box.info .box-icon {
  color: #6cb2eb;
}

.content-box .helper-box.warning {
  border-left-color: #ff9f3e;
}

.content-box .helper-box.warning.color-border {
  border-color: #ff9f3e;
}

.content-box .helper-box.warning .box-icon {
  color: #ff9f3e;
}

.content-box .helper-box p {
  margin: 0;
}

.content-box .helper-box .box-icon {
  position: absolute;
  top: 18px;
  left: 13px;
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .content-box {
    margin-top: 12px;
  }
}

.content-collection {
  margin-bottom: 25px;
}

.content-collection .card {
  padding: 0;
  max-width: 320px;
  border: none;
  margin-top: 15px;
}

.content-collection .card .card-img-top {
  margin-bottom: 15px;
}

.content-collection .card .card-title a {
  color: #383838;
}

.content-collection .card .card-title a:hover {
  color: #FF2B65;
}

.content-collection .card .card-info div {
  margin-bottom: 3px;
}

.content-collection .card .card-info .statistics div {
  margin-left: 10px;
  color: #7e7e7e;
}

.content-collection .card .card-info .date {
  color: #b1b1b1;
}

.content-collection .card .card-info .tags {
  color: #FF2B65;
}

.content-collection .card .card-info .tags i {
  font-size: 16px;
  position: relative;
  top: 4px;
  margin-right: 5px;
}

.content-collection .card .card-info .tags .tag {
  margin-right: 5px;
}

.content-collection .card .card-info a {
  color: #FF2B65;
  font-weight: 300;
}

.content-collection .card .card-info a:hover {
  color: #383838;
}

.content-collection .card .card-text {
  margin-top: 5px;
  font-size: 17px;
}

.pagination {
  margin: 15px 0;
}

.pagination .page-link {
  padding: 14px 20px 10px;
  font-size: 18px;
  font-weight: 600;
  border-color: #dfdfdf;
  color: #7e7e7e;
}

.pagination .page-link.active {
  background-color: #ff7839;
  border-color: #ff7839;
  color: #fff;
}

.pagination .page-link.active:hover {
  background-color: #ff7839;
  border-color: #ff7839;
}

.pagination .page-link.inactive,
.pagination .page-link.inactive:hover {
  background-color: #f3f3f3;
  border-color: #dfdfdf;
  color: #dfdfdf;
  cursor: not-allowed;
}

.pagination .page-link:hover {
  background-color: #b1b1b1;
  border-color: #b1b1b1;
  color: #fff;
}

.vertical-menu {
  margin-bottom: 15px;
}

.vertical-menu ul {
  width: 100%;
}

.vertical-menu .nav-item {
  cursor: pointer;
}

.vertical-menu .nav-link.marker-blue {
  border-left: 5px solid #3490dc !important;
}

.vertical-menu .nav-link.marker-purple {
  border-left: 5px solid #9561e2 !important;
}

.vertical-menu .nav-link.marker-red {
  border-left: 5px solid #f85751 !important;
}

.vertical-menu .nav-link.marker-orange {
  border-left: 5px solid #ff9f3e !important;
}

.vertical-menu .nav-link.marker-yellow {
  border-left: 5px solid #ffed4a !important;
}

.vertical-menu .nav-link.marker-green {
  border-left: 5px solid #41bd28 !important;
}

.vertical-menu .nav-link.marker-pink {
  border-left: 5px solid #f66d9b !important;
}

.vertical-menu .nav-link.flat {
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  color: #ff631c;
}

.vertical-menu .nav-link.flat:hover {
  color: #FF2B65;
}

.vertical-menu .nav-link[data-toggle] {
  border: 1px solid #dfdfdf;
}

.vertical-menu .nav-link[data-toggle].inner {
  border-top: none;
}

.vertical-menu .nav-link[data-toggle] .icon {
  position: relative;
  top: 3px;
  right: 0;
  font-size: 21px;
  color: #383838;
}

.vertical-menu .nav-link[data-toggle].collapsed .open {
  display: inline;
}

.vertical-menu .nav-link[data-toggle].collapsed .closed {
  display: none;
}

.vertical-menu .nav-link[data-toggle]:not(.collapsed) .open {
  display: none;
}

.vertical-menu .nav-link[data-toggle]:not(.collapsed) .closed {
  display: inline;
}

.tags-box .tag {
  display: inline-block;
  background-color: #f3f3f3;
  color: #7e7e7e;
  font-size: 14px;
  padding: 4px 10px;
  margin-right: 5px;
  margin-bottom: 6px;
  transition: all 0.3s ease-out;
}

.tags-box .tag:hover {
  background-color: #FF2B65;
  color: #fff;
}

.footer {
  padding: 15px 25px 20px;
  background-color: #383838;
  color: #b1b1b1;
}

