@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700);#drop-down-menu,
#drop-down-toggle-menu {
    background-color: #fff;
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.09);
    z-index: 1000;
}

#drop-down-toggle-menu {
    height: 63px;
}

#drop-down-menu,
#drop-down-menu li,
#drop-down-menu a {
    color: #343a40;
}

#drop-down-menu a:hover {
    color: #ff631c;
    text-decoration: none;
}

#drop-down-menu ul {
    margin: 0;
    padding: 0;
}

#drop-down-menu .main-menu {
    display: none;
}

.main-menu > li {
    text-transform: uppercase;
}

.sub-menu li {
    text-transform: none;
}

.drop-icon i {
    position: absolute;
    top: 28px;
    right: 14px;
}

.bars-icon {
    font-size: 20px;
}

a.parent {
    padding-right: 35px !important;
}

#tm:checked+.main-menu {
    display: block;
}

#drop-down-menu input[type="checkbox"],
#drop-down-menu ul span.drop-icon {
    display: none;
}

#drop-down-menu li,
#drop-down-toggle-menu,
#drop-down-menu .sub-menu {
    border-style: solid;
    border-color: rgba(0, 0, 0, .1);
}

#drop-down-menu li,
#drop-down-toggle-menu {
    border-width: 0 0 1px;
}

#drop-down-menu .sub-menu {
    background-color: #fff;
    border-width: 1px 1px 0;
    margin: 0 1em;
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.18);
}

#drop-down-menu .sub-menu li:last-child {
    border-width: 0;
}

#drop-down-menu li,
#drop-down-toggle-menu,
#drop-down-menu a {
    position: relative;
    display: block;
}

#drop-down-toggle-menu,
#drop-down-menu a {
    padding: 1em 1.5em;
}

#drop-down-toggle-menu {
    padding-right: 35px !important;
}

#drop-down-menu a {
    transition: all .125s ease-in-out;
    -webkit-transition: all .125s ease-in-out;
}

#drop-down-menu .sub-menu {
    display: none;
}

#drop-down-menu input[type="checkbox"]:checked + .sub-menu {
    display: block;
}

#drop-down-toggle-menu .drop-icon i,
#drop-down-menu li label.drop-icon i {
    position: absolute;
    right: 20px;
    top: 21px;
}
#drop-down-menu li label.drop-icon i {
    top: 25px !important;
}

#drop-down-menu label.drop-icon,
#drop-down-toggle-menu span.drop-icon {
    width: 1em;
    height: 1em;
    text-align: center;
    color: #343a40;
}

#drop-down-menu .drop-icon {
    line-height: 1;
}


@media only screen and (max-width: 1199px) {

    
}


/* Wide Screens */

@media only screen and (min-width: 1200px) {

    #drop-down-menu {
        width: 100%;
        position: fixed;
        top: 0;
    }

    #drop-down-menu {
        padding-left: 360px;
        padding-right: 236px;
    }

    #drop-down-menu,
    #drop-down-toggle-menu {
        box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.18);
    }

    #drop-down-menu .main-menu {
        display: block;
    }

    #drop-down-toggle-menu,
    #drop-down-menu label.drop-icon {
        display: none;
    }

    #drop-down-menu ul span.drop-icon {
        display: inline-block;
    }

    #drop-down-menu li {
        float: left;
        border-width: 0 1px 0 0;
        height: 70px;
        line-height: 38px;
    }

    .main-menu > li:first-child {
        border-left-width: 1px !important;
    }

    #drop-down-menu .sub-menu li {
        float: none;
    }

    #drop-down-menu .sub-menu {
        border-width: 0;
        margin: 0;
        position: absolute;
        top: 100%;
        left: 0;
        width: 12em;
        z-index: 3000;
    }

    #drop-down-menu .sub-menu,
    #drop-down-menu input[type="checkbox"]:checked + .sub-menu {
        display: none;
    }

    #drop-down-menu .sub-menu li {
        border-width: 0 0 1px;
    }

    #drop-down-menu .sub-menu .sub-menu {
        top: 0;
        left: 100%;
    }

    #drop-down-menu li:hover>input[type="checkbox"] + .sub-menu {
        display: block;
    }
}body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Poppins", sans-serif;
}

.site-logo {
  z-index: 1500;
  position: fixed;
  top: 10px;
  left: 21px;
}

.site-logo .icon {
  width: 50px;
}

.site-logo .name {
  width: 238px;
  margin-left: 5px;
  position: relative;
  top: 2px;
}

@media screen and (max-width: 1200px) {
  .site-logo {
    display: none;
  }
}

.site-logo-mobile {
  z-index: 1500;
  position: relative;
  bottom: 9px;
}

.site-logo-mobile .icon {
  width: 45px;
}

.site-logo-mobile .name {
  width: 180px;
  margin-left: 3px;
  position: relative;
  top: 3px;
}

@media screen and (max-width: 520px) {
  .site-logo-mobile .name {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  .site-logo-mobile {
    right: 8px;
  }
}

#site-content {
  margin-top: 80px;
  min-height: calc(100vh - 138px);
}

@media screen and (max-width: 1200px) {
  #site-content {
    margin-top: 12px;
  }
}

@media screen and (min-width: 1600px) {
  #site-content {
    width: 1500px;
  }
}

.footer {
  padding: 15px 25px 20px;
  background-color: #343a40;
  color: #999;
}

